*	{
	color: white;
}

body	{
	background-image: url("../images/background2.jpg");
	background-repeat: no-repeat;
	width: 100%;
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
	align-content: center;

}

div	{
	margin: 2px;
	margin-left: 5px;
	width: 25%;
	align-content: center;
	border: dashed 2px lime;
	padding: 2px;
}

h1, h3, span	{
	font-weight: bold;
	text-align: center;
}

h2	{
	font-weight: 100;
}
.label	{
	font-size: 30pt;
	color: lime;
}
ol	{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}

p	{
	color: white;
}


div.header, div.instructions	{
	width: 50%;
	margin-left: 25%;
}

.goal	{
	float: left;
	text-align: center;
	width: 15%;
	height: 60px;
	margin-left: 25%;
}
.userTotal	{
	float: left;
	text-align: center;
	width: 15%;
	height: 60px;
	margin-left: 42%;
	margin-top: -11%;
}
.currency	{
	clear: both;
	margin-left: 37%;
	margin-top: 5%;
}
.gemImage	{
	height: 60px;
	margin: 10px;
}

.score	{
	float: left;
	text-align: center;
	width: 15%;
	height: 60px;
	margin-left: 19.3%;
}
