*	{
	color: white;
}

body	{
	background-image: url("../images/background2.jpg");
	background-repeat: no-repeat;
	width: 100%;
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
	align-content: center;

}


div	{
	margin: 2px;
	margin-left: 5px;
	width: 25%;
	align-content: center;
	border: dashed 2px lime;
	padding: 2px;
}

h1, h3, span	{
	font-weight: bold;
	text-align: center;
}
h1	{
	font-size: 30pt;
}
ol	{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}

p	{
	color: white;
}

div.header, div.instructions	{
	width: 50%;
}

.goal, .score	{
	float: left;
	width: 15%;
	height: 60px;
}
.userTotal	{
	width: 15%;
	height: 60px;
}
.currency	{
	clear: both;
}
.gemImage	{
	height: 60px;
	margin: 10px;
}
